<!DOCTYPE html>
<html lang="PT-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
    <style>
         table {
            border-collapse: collapse;
        }
        td, th {
            border: 1px solid black;
            padding: 5px 10px;
        }
    </style>
</head>
<body>
    <form action="/alunos" method="post">
    <table>
        <tr>
            <th>Aluno</th>
            <th>Matrícula</th>
        </tr>

        <tr>
            <td>Alice</td>
            <td>12345678</td>
        </tr>
        <tr>
            <td>Bruno</td>
            <td>86123962</td>
        </tr>
        <tr>
            <td>Clara</td>
            <td>27167398</td>
        </tr>
        <tr>
            <td>Marilson</td>
            <td>38271612</td>
        </tr>
        <tr>
            <td>Valéria</td>
            <td>75826163</td>
        </tr>
    </table>
    </form>
</body>
</html>