<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ollá munddododokdodkoodod</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat blanditiis incidunt vel tempora, accusamus, nam laborum dolor, inventore perspiciatis sapiente ex saepe perferendis. Minus nisi aliquid sit quia distinctio voluptate.</p>
    <a href="{{url_for('contato')}}">pagina de contato</a>


    
</body>
</html>